*{


}
.bg{
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(30, 19, 30, 0.73)),
            url('../img/background@1X.png');

    background-size: cover;
    height: 768px;
    width: 1366px;
}
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}
.container{

    width: 1062px;
    margin: 0 auto;
}
.header{
    padding-top: 49px;
    display: block;
}
.header-icon{
    font-size: 45px;
    color: white;
    float: left;
    margin-right: 15px;
}
.header-text{
    text-transform: uppercase;
    float: right;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.header-text-h1{
    font-size: 29px;
}
.header-text-h4{
    font-size: 18px;
}
.header-contacts{
    float: right;
    display: inline;
    font-size: 18px;
    margin-top: 10px;
    color: white;
    font-family: 'Lato', sans-serif;
}

.header-icon-text{
    float: left;
    display: inline-block;
}

.images{
    margin-top: 48px;

}
.images-set{
    margin-bottom: 53px;
    float: left;
    margin-right: 67px;
}
.images-set:last-child{
    margin-right: 0;
}
.images-set:nth-child(3){
    margin-right: 0;
}
.images-set-link{
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.images-set-description{
    text-align: center;
    margin-top: 22px;
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.images-set-image{
    border-top: 2px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: #222f3a;
}
.footer{
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
}
.header-text:hover{
     color: #f26522 ;
 }
.header-icon:hover{
    color: #f26522;
}
.hovering{
    position: absolute;
    bottom: 40px;
    left: 1px;
    background-color: #f26522;
    color: white;
    font-family: 'Lato', sans-serif;
    padding-right: 18px;
    display: none;

}
.hovering-from{
    float: left;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 10px;
}
.hovering-to{
    float: right;
    padding-left: 100px;
    padding-top: 23px;
}
.images-set:hover .hovering{
    display: block;

}
.images-set:hover .images-set-description{
    color: #f26522;
}