.clearfix{
    content: "";
    clear: both;
    display: table;
}
.container{
    width: 1210px;
    margin: 0 auto;
}
.bg{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.header{
    font-family: 'Lato', sans-serif;



    color: white;
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 23px 0 19px 0;
    position: relative;
}
.icons{
    width: 236px;
    position: absolute;
    right: 300px;
    top: -10px;
    height: 76px;
    cursor: pointer;
    transform: scale(0.8);
    display: inline-block;
    color: white;
    background-image: url("../sprites/css_sprites.png");
}
.icons:hover{
    background-image: url("../sprites/css_sprites1.png");
}

.header-logo{
    float: left;    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

}
.header-logo:hover{
    color: #3cb878;
}
.header-welcome{
    float: right;
    font-size: 14px;
    position: relative;
}
.header-logo::before{
    content: "";
    display: table;
    position: absolute;
    width: 2px;
    height: 19px;
    background-color: #b4b7ba;
    right: 307px;
    top: 18px;

}
.header-welcome::before{
    border-right: solid 1px white;
}
.blue-text{
    color: #3cb878;
    cursor: pointer;
    text-decoration: underline;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 444px;
    height: 594px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: white;
    font-family: 'Lato', sans-serif;

}
.content-header{
    padding: 29px 0 0 0;


}
.content-header-sign{
    float: left;
    font-size: 20px;
    position: relative;
}
.content-header-sign::before{
    content: "";
    display: table;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    left: -62px;
    top:2px;
}
.content-header-log{
    float: right;
    font-size: 14px;
    padding-top: 8px;
}
.content-container{
    width: 322px;
    margin: 0 auto;
}
.content-links-facebook{
    float: left;
    background-color: #305db8;
    padding: 16px 0;
    width: calc(100% / 2 - 8px);
    border-radius: 4px;
    cursor: pointer;
}
.content-links-google{
    cursor: pointer;
    width: calc(100% / 2 - 8px);
    float: right;
    background-color: #df4a32;
    padding: 16px 0;
    border-radius: 4px;
}
.fb-icon{
    float: left;
    vertical-align: middle;
    padding-right: 18px;
    padding-left: 18px;
    font-size: 16px;
    position: relative;
}
.content-links-facebook-text{
    float: right;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 16px;
}
.g\+-icon{
    float: left;
    padding-right: 18px;
    font-size: 16px;
    position: relative;
    padding-left: 18px;

}
.g\+-icon::after{
    content: "";
    display: block;
    height: 28px;
    width: 1px;
    background: #c8422d;
    position: absolute;
    top:-7px;
    right:0;
}.fb-icon::after{
    content: "";
    display: block;
    height: 28px;
    width: 1px;
    background:#2b54a5 ;
    position: absolute;
    top:-7px;
    right:0;
}

.content-links-google-text{
    float: right;
    padding-left: 18px;
    font-size: 16px;
    padding-right: 18px;

}
.content-links{
    margin-top: 15px;
    color: white;
}
.or{
    text-align: center;
    margin-top: 33px;
    font-size: 14px;
    position: relative;
    margin-bottom: 18px;
}
.or::before{
    content: "";
    display: block;
    width: 135px;
    height: 2px;
    position: absolute;
    background: #eaeaea;
    left: 0 ;
    top:50%;
}.or::after{
    content: "";
    display: block;
    width: 135px;
    height: 2px;
    position: absolute;
    background: #eaeaea;
    right: 0 ;
    top:50%;
}
.input {
    width: calc(100% - 17px);
    margin-bottom: 17px;
    height: 40px;
    position: relative;
    padding-left: 17px;
    border: none;
    box-shadow: 0 0 3px -1px;
}
.input:focus{
    box-shadow: 0 0 20px -5px ;
    outline: none;
}
.check-container{
    display: none;
}
.check-container + .label:before{
    content: "\2714";
    margin-top: 5px;
    border:0.1em solid lightgray;
    border-radius: 2px;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding-left: 0.2em;
    vertical-align: bottom;
    margin-right: 13px;
    color: transparent;

}
.check-container:checked + .label:before{
    color: #47bc80;
}
.label:hover{
    cursor: pointer;
}
.label{
    letter-spacing: 1px;
}
.button{
    text-align: center;
    padding: 17px 100px;
    background-color:#329a65 ;
    display: inline-block;
    margin-left: 62px;
    cursor: pointer;
    margin-top: 28px;
}
