td {
    border-right: 1px solid #e0e0e0;
}

.table {
    width: 1280px;
    font-family: 'Lato', sans-serif;
    border: 20px solid #3a4965;
}

.thead-div{
    color: #484848;
}
.main-header{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-self: baseline;
    position: absolute;
    top: 73px;
    left: 123px;
    text-transform: uppercase;


}
.main-subheader{
    font-size: 30px;
    text-align: center;
}
.main-subheader-text{
    position: absolute;
    left: 79px;
    text-transform: uppercase;

}
.r1d1{
    text-align: center;


}
.r1d2 {

    color: white;
    padding-top: 27px;
    padding-bottom: 25px;
    background-color: #89c331;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.r1d3 {
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    background-color: #f04a56;
    text-align: center;

}

.r1d4 {
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    background-color: #20807c;
    text-align: center;

}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;

}

.priceh {
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.priceb {

}

.priceb-cents {
    font-size: 24px;
}

.priceb-month {
    font-size: 16px;
}
.body-row{
    max-height: 69px;
    text-align: center;
    color: #484848;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
.body-row-content{
    padding:29px 0 27px 0;
    font-size: 16px;
    text-align: center;
}
.icon{
    margin-right: 16px;
}
.body-row:nth-child(even){
    background-color: #e3e3e3;
}
.tfoot-content{
    padding:31px 0 30px 0;
    text-align: center;

}
.tfoot-link{
    padding: 19px 0 17px 0;
    background-color: #484848;
    text-decoration: none;
    color: white;
    width: 192px;
    display: inline-block;
    border-radius: 1px;
    text-transform: uppercase;
    font-size: 16px;

}
.bg-green{
    background-color: #89c331;
}
.bg-blue{
    background-color: #20807c;
}
.bg-red{
    background-color: #f04a56;
}
.tfoot-content:hover{
    background-color: #dddddd;
}