.header-navbar{
    height:70px;
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
}
.header-navbar-logo{
    display: inline-block;
    position: relative;
}
.header-navbar-logo-picture{
    display: inline-block;
    margin: 22px 21px 21px 33px;
    justify-self: center;
    vertical-align: center;
}
.header-navbar-logo-name{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    display: inline-flex;
    position: absolute;
    top: 25px;
    right: -100px;
    font-size: 22px;

}
.header-navbar-navigation{
    width: 700px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;

}
.header-navbar-search:hover{
    cursor: pointer;
}
.header-navbar-navigation-element{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.icon{
    color: white;
    padding: 27px 25px 26px 26px;
    background-color: #171a1c;
}
.header-bg{
    justify-content: center;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(30, 19, 30, 0.73)),
    url('../img/html_css_homework_homework6_img_header-bg.jpeg');;
    height: 400px;
    background-attachment: fixed;
    background-position: 0 -400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:127px ;
}
.header-content-h1{
    color: white;
    font-size: 27px;
}
.header-content-buttons{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding-top:40px ;
}
.header-content-button-1{
    border-radius: 5px;
    padding: 19px 21px 21px 21px;
    text-decoration: none;
    color: white;
    background-color: #89ca62;
    margin-right: 20px;
    width: 170px;
    text-align: center;

}
.header-content-button-2{
    border-radius: 5px;
    text-align: center;
    padding: 19px 21px 21px 21px;
    text-decoration: none;
    color: white;
    background-color: #14b9d5;
    width: 170px;

}
.gray-bg{
    background-color: #f2f2f2;
}
.posts{
    width: 1170px;
    margin: 0 auto;
}

.posts-header{
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    color: #18b4cf;
    font-weight: bold;
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
}
.posts-rows{
    display: flex;
    justify-content: space-between;
}
.posts-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.posts-column-element{
    width: 370px;
    margin-bottom: 31px;
    background-color: white;
}
.posts-colum-element-photo{
    margin-bottom: 20px;
    width: 370px

}
.posts-column-element-text{
    font-family: 'Open Sans', sans-serif;

    text-align: center;
    padding-bottom: 22px;
}
.clients{
    justify-content: center;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(30, 19, 30, 0.73)),
    url('../img/html_css_homework_homework6_img_parallax-bg.jpeg');;
    height: 590px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.clients-header{
    padding: 230px 0 0 0;
    text-align: center;
    position: relative;
    font-family: 'Open Sans', sans-serif;


}
.clients-header::after{
    display: table;
    position: absolute;
    content: "";
    width:60px ;
    height: 3px;
    background-color: #169cb4;
    bottom: -30px;
    left: 920px;
}
.clients-header-h{
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    font-family: 'Open Sans', sans-serif;

}
.clients-list{
    width: 880px;
    margin: 60px auto;
    display: grid;
    font-family: 'Open Sans', sans-serif;

    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    vertical-align: center;
}
.top-header{
    color: #18b4cf;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;

}
.top-section{
    display: grid;
    margin-top: 52px;
    grid-template-columns: 271px 271px 271px 271px 271px 271px 271px ;
}
.news{
    width: 1169px;
    margin: 0 auto;
}
.news-header{
    font-family: 'Open Sans', sans-serif;

    margin-top: 60px;
    color: #18b4cf;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
}
.news-first{
    margin-top: 53px;font-family: 'Open Sans', sans-serif;

    display: grid;
    grid-template-columns: 850px auto;
    justify-content: space-between;
    margin-bottom: 42px;
}
.news-first-element{
    width: 856px;
   display: grid;
    grid-template-columns: auto 403px ;
    text-align: right;
}
.news-first-element-text{
    padding-top: 26px;
    color: #353a3d;
    background-color: #f9f7f7;
    padding-right: 14px;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;

    width: 320px;
}
.news-first-element-header{
    font-family: 'Open Sans', sans-serif;

    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;

}
.news-first-element-paragraph{
    padding-top: 22px;
    line-height: 1.2em;
    font-family: 'Open Sans', sans-serif;

}
.news-first-element2{
    width: 277px;
}
.news-first-element2-text{
    text-align: center;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;

    font-size: 18px;
    font-weight: bold;
    color: #353a3d;

}
.news-second{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;

}
.news-second-element1{
    width: 554px;
    display: grid;
    grid-template-rows: 259px auto;
    margin-bottom: 64px;
}
.news-second-element-header{
    text-align: right;
    padding-top: 21px;
    padding-bottom: 26px;
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;

    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #353a3d;
    background-color: #f9f7f7;
}
.news-second-element-paragraph{
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;

    text-align: right;
}
.news-last{
    display: grid;
    grid-template-columns:auto auto ;
}
.news-last-element2{
    margin-right: 35px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

}
.news-last-element2-text{
    padding-top: 10px;
    color: #353a3d;
    background-color: #f9f7f7;
}
.news-last-element{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 71px;
}
.news-last-element-header{
    text-align: right;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

    font-weight: bold;
    color: #353a3d;
    background-color: #f9f7f7;
    padding-top: 40px;

}

.news-last-element-paragraph{
    text-align: right;
    padding-top: 22px;
    font-family: 'Open Sans', sans-serif;

    width: 320px;
    padding-left: 45px;

}
.footer{
    height: 80px;
    background-color: #1d2124;
    color: white;
}
.footer-content{
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.footer-content-text{
    padding-top: 34px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;

}
.footer-logo{
    padding-top: 29px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-self: start;
}
.menu{
    margin: 30px auto;
    display: flex;
    text-align: center;
}
.menu-item{
    width: 20%;
}
.top-button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #222f3a;
    border: none;
    color: tomato;
    font-size: 30px;
    display: none;
}
.show{
    display: table;
}
.show-button{
    display: block;
    margin: 30px auto;
    font-size: 30px;
}