*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width:1480px;
}
.wrapper{
    margin: 0 auto;
    width: 1280px;
}
.blue-text{
    color:#4bcaff;
}
.header h1{
    margin: 61px 0 0 0;
}
.logo{
    text-decoration: none;
    color: black;
    font-size: 80px;
}
.header-navbar{
    padding: 30px 127px;
    margin:45px 0 0 0;
    display: inline-block;
    background-color: #35444f;
    max-width: 1280px;
}
.header-navbar a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 26px 39px;
}
.header-navbar ul{
    padding: 0 ;
}

.main-navbar{
    margin-top: 51px;
    border: solid #35444f 1px;
    width: 340px;
    display: inline-block;
}
.main-navbar li{
    max-width: 340px;
    width: 340px;
    padding: 30px 0 30px 0;
    text-decoration: none;
    list-style-type: none;


}
.main-navbar a{
    padding-left: 42px;

}
.main-navbar li:hover{
    background-color: #dbdbdb;
}
.main-navbar li:hover a{
    padding-left: 60px;
}
.main-navbar a:hover{
    background-color: #dbdbdb;
}
.main-navbar  a{
    font-size: 30px;
    text-decoration: none;
    color: #495863;;
}
.main-content{
    display: inline-block;
    float: right;
    width: 885px;
    margin-top: 51px;
}
.main-content p{
    font-size: 18px;
    line-height: 25px;
    margin: 30px 40px 20px 30px;

}
.main-content img{
    padding: 85px 278px 85px 282px;
    border: solid 1px #35444f;
    display: block;
    margin-bottom: 20px;


}
.main{
    display: inline;
}
.footer{
    display: inline-block;
    background-color: #b4b7ba;
    padding: 22px 37px 21px 49px;
    max-width: 1280px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px;
}
.footer a{
    padding-right:25px ;
    text-decoration: none;
    color:#0c1927
}
.footer ul{
    display: inline;

}
.footer a:hover {
    color: #3181a6;
    text-decoration: underline;
}
.footer p{
    display: inline;

    align-items: end;
    margin-left: 177px;
    padding-right: 10px;
    color: #0c1927;

}
.header-navbar   a:hover{
    background-color: #222f3a;
    border-right: solid 1px white;
    border-left: solid 1px white;
}
