body{
    background-image: url("../img/18932.YBPpwG.6332e68e-93ac-462b-b44c-034f96de220f.png");
    background-size: cover;
    overflow: hidden;
    color: yellow;
    font-family: 'Pathway Gothic One', sans-serif;
}
.text{
    font-size: 50px;
    width: 1000px;
    margin: 0 auto;
    text-align: justify;
    font-weight: 800;
    line-height: 80px;
    height: 1600px;
    transform: perspective(250px)rotateX(20deg);
    animation: scroll 30s linear infinite;
}
.preheader{
    text-align: center;
    margin-bottom: 40px;
}
.header{
    text-align: center;
    margin-bottom: 100px;

}
@keyframes scroll {
    0% {
        transform: perspective(250px) rotateX(20deg) translateY(1080px);
        opacity: 1;
    }
    95% {
        opacity: 1;

    }
    100% {        transform: perspective(250px) rotateX(20deg) translateY(-400px);
        opacity: 0;

    }
}